.formText {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,sans-serif;
  font-size: 20px;
  line-height: 1.42857;
}

.active {
  background-color: white;
  color: #1C6E21;
  border-width: 10px;
  border-color: white;
  border-radius: 5px;
}

.makeWhite{
  color: white !important;
}

label:hover {
  background-color: white;
  color: #1C6E21;
  border-width: 10px;
  border-color: white;
  border-radius: 5px;
}

label {
  width: 50%;
  padding: 1%;
  display: inline-block;
}

li input {
  width: 0;
}

@media screen and (min-width: 762px) {
  .bubble1 {
   background-color: white;
   border-radius: 50%;
   width: 15px;
   height: 15px;
   position: absolute;
   left: 55%;
   top: 72%;
  }
}

@media screen and (min-width: 762px) {
  .bubble2 {
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 57%;
    top: 65%;
  }
}

@media screen and (min-width: 762px) {
  .bubble3 {
    background-color: white;
    border-radius: 15px;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 59%;
    top: 40%;
    color: #1C6E21;
    text-align: center;
    vertical-align: middle;
  }
}

.ye {
  height: 30px;
  width: 30px;
  display: block;
  margin: 100px auto;
  background-color: #cdae90;
  border-radius: 50%;
  box-shadow: 0 -3px 1px 6px #cdae90, /* make mouth bigger */
    0px -30px 1px 40px #835438, /* face */
    -35px -75px 1px 0px #a58e66, -35px -75px 1px 5px #835438, /* left ear */
    35px -75px 1px 0 #a58e66, 35px -75px 1px 5px #835438; /* right ear */
}

.ye:before { /* left eye */
  content: ''; /* small white dot */
  position: relative;
  display: block;
  height: 8px;
  width: 2px;
  background-color: #fff;
  border-radius: 50%;
  top: -32px;
  left: -4px;
  transform: rotate(20deg);
  box-shadow:
    -5px -5px 1px 2px #fff, /* top left white dot */
    -2px -4px 1px 7px #ff00ff, /* pink background */
    -3px -5px 1px 10px #000, /* black background */
    -5px -2px 1px 16px #fff; /* white background */
}

.ye:after { /* right eye */
  content: ''; /* small white dot */
  position: relative;
  display: block;
  height: 8px;
  width: 2px;
  background-color: #fff;
  border-radius: 50%;
  top: -48px;
  left: 36px;
  transform: rotate(-20deg);
  box-shadow:
    -5px -6px 1px 2px #fff, /* top left white dot */
    -2px -4px 1px 7px #00bfff, /* blue background */
    -1px -5px 1px 10px #000, /* black background */
    0px -2px 1px 16px #fff; /* white background */
}

i {
  width: 11px;
  height: 7px;
  border-radius: 50%;
  display: block;
  background-color: rgba(0,0,0,.7);
  position: relative;
  top: -13px;
  left: 9px;
}
