.formText {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,sans-serif;
  font-size: 20px;
  line-height: 1.42857;
}

label:hover {
  background-color: white;
  color: #1C6E21;
  border-width: 10px;
  border-color: white;
  border-radius: 5px;
}

label {
  width: 100%;
  height: 30px;
}

label input {
  vertical-align: middle;

}
