<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quire Code Challenge</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body ng-app="quireTest" ng-controller="MainCtrl">

    <form name="form">
      <div>
        {{question}}
      </div>

      <ul>
        <li ng-repeat="answer in answers">
          <label><input type="radio" name="answer" value="{{answer.value}}" ng-click="isCorrect.value = answer.value">{{answer.title}}</label>
          <br>
          <tt> Is this correct?  - {{answer.value}}
        </li>
      </ul>

      <input type="submit" name="Submit" value="Submit" ng-click="verify()">

    </form>

    <br>
    <tt> Is this correct?  - {{isCorrect.value}}

  </body>
</html>
